<main>
    <mat-card>
        <mat-card-title>Select all text of focused element in HTML</mat-card-title>
        <mat-card-subtitle>Michael Chaffins - 2/10/2020</mat-card-subtitle>
        <p>How to allow users to use the select-all keyboard shortcut on only the focused area inside of
            a website.</p>
        <mat-card-actions>
            <button mat-flat-button color="accent">READ</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Angular CLI "ng build [option]" bundle size comparisons.</mat-card-title>
        <mat-card-subtitle>Michael Chaffins - 2/10/2020</mat-card-subtitle>
        <p>In this post I will build an Angular project using the different Angular CLI "ng build" options, and then
            compare their bundles sizes.</p>
        <mat-card-actions>
            <button mat-flat-button color="accent">READ</button>
        </mat-card-actions>
    </mat-card>
</main>