main {
    max-width: 924px;
    margin: 0 auto;
}

.mat-toolbar-row {
    height: 128px;
    font-size: 32px;
    max-width: 1024px;
    margin: 0 auto;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-decoration: underline;
}
