<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>About</mat-toolbar-row>
    </mat-toolbar>
</header>

<main>
    <h2>Introduction</h2>
    <p>Hi, thank you for visiting my website. My name is Michael Chaffins, a Software Engineer based out of Denver, CO.
        The content of this site is based on my career in software development. Feel free to contact me anytime through
        email or social media with the links provided in the page footer.</p>
    <br>
    <h2>Projects</h2>
    <p>This section is a list of projects that I have created, and am currently working on. It may include web
        applications and anything else. These projects will generally scratch my own itch. They are applications
        that I wish existed. They may also be something I have improved on in my personal way.</p>
    <br>
    <h2>Articles</h2>
    <p>The space where I write tutorials and post about other development related topics. The articles are based around
        real programming problems/questions I have encountered and solved. Writing about the topics helps me learn about
        that subject more in depth. Most importanty, I hope that they provide some value and help someone else solve
        that problem.</p>
</main>