<main>
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Local Concert Tracker</mat-card-title>
            <mat-card-subtitle>Select your city to see what concerts are playing near your.</mat-card-subtitle>
        </mat-card-header>
        <img class="project-img" mat-card-image src="/assets/img/redrocks-1.jpg" alt="Local Concert Tracker logo">
        <mat-card-actions>
            <button mat-flat-button color="accent">GO</button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Sports Team Calendar</mat-card-title>
            <mat-card-subtitle>Customizable calendar that shows you when your favorite teams are playing.
            </mat-card-subtitle>
        </mat-card-header>
        <img class="project-img" mat-card-image src="/assets/img/sports-1.jpg" alt="Sports Team Calendar logo">
        <mat-card-actions>
            <button mat-flat-button color="accent">GO</button>
        </mat-card-actions>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>Drum Sheet Music Creator</mat-card-title>
            <mat-card-subtitle>Create drum sheet music with a drag-and-drop interface.</mat-card-subtitle>
        </mat-card-header>
        <img class="project-img" mat-card-image src="/assets/img/drums-1.jpg" alt="Drum Sheet Music Creater logo">
        <mat-card-actions>
            <button mat-flat-button color="accent">GO</button>
        </mat-card-actions>
    </mat-card>
</main>